[submodule "deps/exports"]
	path = deps/exports
	url = https://github.com/imalyavskiy/ogldev.deps.git
[submodule "deps/origins/FreeGLUT.3.0.0"]
	path = deps/origins/FreeGLUT.3.0.0
	url = https://github.com/dcnieho/FreeGLUT
[submodule "deps/origins/glew.2.0.0"]
	path = deps/origins/glew.2.0.0
	url = https://github.com/nigels-com/glew.git
[submodule "deps/origins/assimp"]
	path = deps/origins/assimp
	url = https://github.com/assimp/assimp.git
[submodule "deps/origins/FreeImage3180"]
	path = deps/origins/FreeImage3180
	url = https://github.com/imalyavskiy/FreeImage3180.git
[submodule "deps/origins/glfw"]
	path = deps/origins/glfw
	url = https://github.com/imalyavskiy/glfw.git
[submodule "deps/origins/glfx"]
	path = deps/origins/glfx
	url = https://github.com/imalyavskiy/glfx.git
[submodule "deps/origins/anttweakbar-1.16"]
	path = deps/origins/anttweakbar-1.16
	url = https://github.com/imalyavskiy/AntTweakBar.git
[submodule "original_lessons"]
	path = original_lessons
	url = https://github.com/emeiri/ogldev
[submodule "books"]
	path = books
	url = https://github.com/imalyavskiy/ogldev.books
